<div class="sidebar p-5 px-lg-0 py-lg-11" data-kt-drawer="true" data-kt-drawer-name="sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="275px" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_sidebar_toggle">
  <!--begin::Quick Search-->
  <!--end::Quick Search-->
  <!--begin::Popular Questions-->
  <div class="card bg-light mb-5 mb-lg-10 shadow-none border-0">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0">
      <!--begin::Title-->
      <h3 class="card-title fw-bold text-gray-900 fs-3">Popular Tags</h3>
      <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <ng-container *ngIf="data$ | async as data">
      <div class="card-body pt-0">
        <mc-loading *ngIf="data.isLoading"></mc-loading>
        <mc-error-message
          *ngIf="data.error"
          [message]="data.error"
        ></mc-error-message>
        <div *ngIf="data.popularTags">
            <a
              *ngFor="let popularTag of data.popularTags; let i = index"
              [routerLink]="['/tags', popularTag]" style="margin: 0.2em">
              <span class="badge" [ngClass]="getClassForIndex(i)">{{ popularTag }}</span>
            </a
            >
        </div>
        </div>
    </ng-container>
    <!--end: Card Body-->
  </div>
</div>
