<ng-container *ngIf="data$ | async as data">
  <div class="d-flex flex-column flex-root justify-center">
    <div class="d-flex flex-column flex-lg-row flex-column-fluid" style="margin-top: 200px;">
      <div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
        <div class="d-flex justify-content-between flex-column-fluid flex-column w-100 mw-450px">
          <div class="d-flex flex-stack py-2">
            <div class="me-2"></div>
            <div class="m-0">
              <span class="text-gray-400 fw-bold fs-5 me-2">Deja un compte ?</span>
              <a class="link-primary fw-bold fs-5" routerLink="/login">Se connecter</a>
            </div>
          </div>
          <div class="py-20">
            <form class="form w-100" [formGroup]="form" novalidate="novalidate" id="kt_sign_in_form" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="text-start mb-10">
                  <h1 class="text-dark mb-3 fs-3x">Créer un compte</h1>
                </div>
                <div class="fv-row mb-8">
                  <input type="text"
                         placeholder="Username"
                         name="username"
                         autocomplete="off"
                         formControlName="username"
                         class="form-control form-control-solid" required
                         [ngClass]="{
                            'is-invalid': form.controls['username'].invalid && form.controls['username'].touched,
                            'is-valid': form.controls['username'].valid
                         }"
                  />
                </div>
                <div class="fv-row mb-8">
                  <input type="email"
                         placeholder="Email"
                         name="email"
                         autocomplete="off"
                         formControlName="email"
                         class="form-control form-control-solid" required
                         [ngClass]="{
                            'is-invalid': form.controls['email'].invalid && form.controls['email'].touched,
                            'is-valid': form.controls['email'].valid
                         }"
                  />
                </div>
                <div class="fv-row mb-7">
                  <input type="password"
                         placeholder="Mot de passe"
                         name="password"
                         autocomplete="off"
                         formControlName="password"
                         class="form-control form-control-solid" required
                         [ngClass]="{
                            'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
                            'is-valid': form.controls['password'].valid
                         }"
                  />
                </div>
                <div class="d-flex flex-stack">
                  <button id="kt_sign_in_submit" class="btn btn-primary me-2 flex-shrink-0"
                          [disabled]="!form.valid">
                    <ng-container *ngIf="(data.isSubmitting ) === false">
                      <span class="indicator-label">
                        Enregistrer
                      </span>
                    </ng-container>
                    <ng-container *ngIf="data.isSubmitting === true">
                      <span class="indicator-progress">
                        Enregistrement en cours...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                      </span>
                    </ng-container>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
