<div class="btn btn-primary" data-kt-indicator="on">
  <span class="indicator-progress">
        Veuillez patienter... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
</div>
