<div class="d-flex flex-center mb-0">
  <a *ngFor="let page of pages"
     [routerLink]="url"
     [queryParams]="{page: page}"
     class="btn btn-icon btn-light btn-active-light-primary h-30px w-30px fw-semibold fs-6 mx-2">
    {{page}}
  </a>
</div>
