<ng-container *ngIf="data$ | async as data">
  <mc-loading *ngIf="data.isLoading"></mc-loading>
  <mc-error-message
    *ngIf="data.error"
    [message]="data.error">
  </mc-error-message>
  <div *ngIf="data.feed">
    <div class="mb-0" *ngFor="let article of data.feed.articles">
      <!--begin::Head-->
      <a [routerLink]="['/articles', article.slug]" class="preview-link">
        <div class="d-flex align-items-center mb-4">
          <!--begin::Title-->
          <span class="fs-2 fw-bold text-gray-900 text-hover-primary me-1">
            {{ transformTitle(article.title) }}
          </span>
          <!--end::Title-->
        </div>
        <!--end::Head-->
        <!--begin::Summary-->
        <div class="fs-base fw-normal text-gray-700 mb-4">{{ article.description }}</div>
      </a>
      <!--end::Summary-->
      <!--begin::Foot-->
      <div class="d-flex flex-stack flex-wrap">
        <!--begin::Author-->
        <div class="d-flex align-items-center py-1">
          <!--begin::Symbol-->
          <div class="symbol symbol-35px me-2">
            <a [routerLink]="['/profiles', article.author.username]">
              <div class="symbol-label bg-light-success fs-3 fw-semibold text-success text-uppercase"
                   *ngIf="article.author.image == null">J</div>
              <img [src]="article.author.image" alt="user"
                   *ngIf="article.author.image !== null"/>
            </a>
          </div>
          <!--end::Symbol-->
          <!--begin::Name-->
          <div class="d-flex flex-column align-items-start justify-content-center">
            <span class="text-gray-900 fs-7 fw-semibold lh-1 mb-2">{{ article.author.username }}</span>
            <span class="text-muted fs-8 fw-semibold lh-1">{{ article.createdAt }}</span>
          </div>
          <!--end::Name-->
        </div>
        <!--end::Author-->
        <!--begin::Info-->
        <div class="d-flex align-items-center py-1">
          <div style="margin-right: 10px;">
            <mc-tag-list [tags]="article.tagList"></mc-tag-list>
          </div>
          <mc-add-to-favorites
            [isFavorited]="article.favorited"
            [articleSlug]="article.slug"
            [favoritesCount]="article.favoritesCount"
          >
          </mc-add-to-favorites>
        </div>
        <!--end::Info-->
      </div>
      <!--end::Foot-->
      <div class="separator separator-dashed border-gray-300 my-8"></div>
    </div>
        <mc-pagination
          [total]="data.feed.articlesCount"
          [limit]="limit"
          [url]="baseUrl"
          [currentPage]="currentPage">
        </mc-pagination>
  </div>
</ng-container>





