<div class="d-flex flex-column flex-root">
  <div class="page d-flex flex-column flex-column-fluid">
    <mc-topbar></mc-topbar>
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
      <mc-aside></mc-aside>
      <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
        <div class="content flex-column-fluid" id="kt_content">
          <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
            <div class="page-title d-flex flex-column py-1"></div>
            <div class="d-flex align-items-center py-1">
              <a href="" class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px"
                 id="kt_toolbar_primary_button">
                <i class="ki-duotone ki-abstract-10 fs-1" style="margin-right: 0.1em">
                  <i class="path1"></i>
                  <i class="path2"></i>
                </i>
                Add feed
              </a>
            </div>
          </div>
          <div class="post" id="kt_post">
            <div class="mb-10">
              <mc-feed [apiUrl]="apiUrl"></mc-feed>
            </div>
          </div>
        </div>
        <mc-footer></mc-footer>
      </div>
      <mc-sidebar></mc-sidebar>
    </div>
  </div>
</div>
