<ng-container *ngIf="data$ | async as data">
  <div id="kt_header" class="header align-items-stretch">
    <!--begin::Container-->
    <div class="container-xxl d-flex align-items-stretch justify-content-between">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
        <!--begin::Navbar-->
        <div class="d-flex align-items-stretch" id="kt_header_nav"></div>
        <!--end::Navbar-->
        <!--begin::Toolbar wrapper-->
        <div class="d-flex align-items-stretch flex-shrink-0">
          <!--end::Sidebar Toggler-->
          <!--begin::User-->
          <ng-container *ngIf="data.currentUser">
            <div class="d-flex align-items-center ms-lg-5" id="kt_header_user_menu_toggle" >
              <!--begin::User info-->
              <a [routerLink]="['/profile', data.currentUser.username]">
                <div class="btn btn-active-light d-flex align-items-center bg-hover-light py-2 px-2 px-md-3"
                     data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                  <!--begin::Name-->
                  <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2">
                    <span class="text-muted fs-7 fw-semibold lh-1 mb-2">{{ data.currentUser.username | titlecase }}</span>
                    <span class="text-dark fs-base fw-bold lh-1">{{ data.currentUser.email | lowercase}}</span>
                  </div>
                  <!--end::Name-->
                  <!--begin::Symbol-->
                  <div class="symbol symbol-30px symbol-md-40px">
                    <img src="assets/media/avatars/300-1.jpg" alt="image" />
                  </div>
                  <!--end::Symbol-->
                </div>
              </a>
              <a routerLink="/login">
                <i class="ki-duotone ki-entrance-left fs-2tx bg-hover-light" style="margin-left: 1.5em">
                  <i class="path1"></i>
                  <i class="path2"></i>
                </i>
              </a>
            </div>
          <!--end::User -->
          </ng-container>
        </div>
        <!--end::Toolbar wrapper-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
</ng-container>
