<a (click)="handleLike()"
   class="btn btn-sm btn-flex btn-light-dark px-3"
   data-bs-toggle="tooltip"
   title="Upvote this question"
   >{{ favoritesCount }}
  <i class="ki-duotone ki-black-right fs-7ms-2 me-0"></i>
</a>
