<ng-container *ngIf="data$ | async as data">
  <mc-loading *ngIf="data.isLoading"></mc-loading>
  <div class="d-flex flex-column flex-root" *ngIf="data.userProfile">
    <!--begin::Page-->
    <div class="page d-flex flex-column flex-column-fluid">
      <!--begin::Header-->
      <mc-topbar></mc-topbar>
      <!--end::Header-->
      <!--begin::Container-->
      <div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
        <!--begin::Aside-->
        <mc-aside></mc-aside>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
          <!--begin::Content-->
          <div class="content flex-column-fluid" id="kt_content">
            <!--begin::Toolbar-->
            <div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
              <!--begin::Page title-->
              <div class="page-title d-flex flex-column py-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center my-1">
                  <a routerLink="/dashboard">
                    <span class="text-dark fw-bold fs-1">
                      <i class="ki-duotone ki-black-left fs-4x"></i>
                    </span>
                  </a>
                </h1>
                <!--end::Title-->
              </div>
              <!--end::Page title-->
              <!--begin::Actions-->
              <div class="d-flex align-items-center py-1">
                <a href="" class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px"
                   id="kt_toolbar_primary_button">
                  <i class="ki-duotone ki-abstract-10 fs-1" style="margin-right: 0.1em">
                    <i class="path1"></i>
                    <i class="path2"></i>
                  </i>
                  Add feed
                </a>
              </div>
              <!--end::Actions-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Post-->
            <div class="post" id="kt_post">
              <!--begin::Navbar-->
              <div class="card mb-5 mb-xxl-8">
                <div class="card-body pt-9 pb-0">
                  <!--begin::Details-->
                  <div class="d-flex flex-wrap flex-sm-nowrap">
                    <!--begin: Pic-->
                    <div class="me-7 mb-4">
                      <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                        <img src="../../../assets/media/avatars/300-1.jpg" alt="image" />
                        <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                      </div>
                    </div>
                    <!--end::Pic-->
                    <!--begin::Info-->
                    <div class="flex-grow-1">
                      <!--begin::Title-->
                      <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                        <!--begin::User-->
                        <div class="d-flex flex-column">
                          <!--begin::Name-->
                          <div class="d-flex align-items-center mb-2">
                            <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ data.userProfile.username | titlecase}}</a>
                            <a href="#">
                              <i class="ki-duotone ki-verify fs-1 text-primary">
                                <span class="path1"></span>
                                <span class="path2"></span>
                              </i>
                            </a>
                          </div>
                          <!--end::Name-->
                        </div>
                        <!--end::User-->
                      </div>
                    </div>
                    <!--end::Info-->
                  </div>
                  <!--end::Details-->
                  <!--begin::Navs-->
                  <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                    <!--begin::Nav item-->
                    <li class="nav-item mt-2">
                      <a class="nav-link text-active-primary ms-0 me-10 py-5"
                         href=""
                         [routerLink]="['/profile', data.userProfile.username]"
                         routerLinkActive="active"
                         [routerLinkActiveOptions]="{exact: true}">
                        My posts
                      </a>
                    </li>
                    <!--end::Nav item-->
                    <!--begin::Nav item-->
                    <li class="nav-item mt-2">
                      <a class="nav-link text-active-primary ms-0 me-10 py-5"
                         href=""
                         [routerLink]="['/profile',data.userProfile.username,'favorites']"
                         routerLinkActive="active"
                         [routerLinkActiveOptions]="{exact: true}">
                        Favorites Posts
                      </a>
                    </li>
                    <!--end::Nav item-->
                  </ul>
                  <!--begin::Navs-->
                </div>
              </div>
              <!--end::Navbar-->
              <!--begin::Row-->
              <div class="row g-5 g-xxl-8">
                <!--begin::Col-->
                <div class="col-xl-12">
                  <mc-feed [apiUrl]="getApiUrl()"></mc-feed>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Post-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Page-->
  </div>
<!--end::Root-->
</ng-container>
