<div class="footer pt-10 pb-5 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-semibold me-1">2023&copy;</span>
    <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Edium</a>
  </div>
  <!--end::Copyright-->
  <!--begin::Menu-->
  <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
    <li class="menu-item">
      <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
    </li>
  </ul>
  <!--end::Menu-->
</div>
