<div class="mb-5 hover-scroll-x">
  <ul class="nav nav-tabs flex-nowrap text-nowrap">
    <li class="nav-item" *ngIf="currentUser$ | async">
      <a class="nav-link w-100 active btn btn-flex btn-active-light-success"
         routerLink="/feed" routerLinkActive="active">
        Your feed
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link w-100 btn btn-flex btn-active-light-danger"
         routerLink="/dashboard"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         queryParamsHandling="merge"
      >
        Global feed
      </a>
    </li>
    <li class="nav-item" *ngIf="tagName">
      <a class="nav-link w-100 btn btn-flex btn-active-light-danger"
         [routerLink]="['/tags', tagName]"
         routerLinkActive="active"
      >
        {{ tagName }}
      </a>
    </li>
  </ul>
</div>
