<div id="kt_app_toolbar" class="app-toolbar py-6">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex align-items-start">
    <!--begin::Toolbar container-->
    <div class="d-flex flex-column flex-row-fluid">
      <!--begin::Toolbar wrapper-->
      <div class="d-flex align-items-center pt-1">
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
          <!--begin::Item-->
          <li class="breadcrumb-item text-white fw-bold lh-1">
              <i class="ki-outline ki-home text-white fs-3"></i>
          </li>
          <!--end::Item-->
          <!--begin::Item-->
          <li class="breadcrumb-item">
            <i class="ki-outline ki-right fs-4 text-white mx-n1"></i>
          </li>
          <!--end::Item-->
          <!--begin::Item-->
          <li class="breadcrumb-item text-white fw-bold lh-1">Dashboards</li>
          <!--end::Item-->
        </ul>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Toolbar wrapper=-->
    </div>
    <!--end::Toolbar container=-->
  </div>
  <!--end::Toolbar container-->
</div>
